body {
    background-color: black;
    color: white;
    font-family: "raleway";
    font-size: 18px;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.img-container {
    height: 250px;
    padding-top: 150px;
    display: flex;
    opacity: 65%;
    justify-content: center;
    position: relative;
    -webkit-animation: breathing 4.5s ease-out ease-out infinite normal;
    animation: breathing 4.5s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

.img-gone {
    transition: 4s ease-out;
    opacity: 0%;
}

.img-here {
    transition: 5s ease-in;
    
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 20px;
    height: 50px;
    height: 10px;
}

.answers {
    margin: auto;
    padding: 30px;
    width: 50%;
    text-align: center;
} 

.button {
    display: inline-block;
    text-align: center;
    font-family: "raleway";
    margin: 0px 05px;
    padding: 10px 50px;
    font-size: 15px;
    opacity: 70%;
    border-color: white;
    border-radius: 8px;
    transition-duration: .5s;
}

button:hover {
    opacity: 90%;
    /* box-shadow: 0 20px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .button {
        margin-bottom: 10px;
    }
    .container {
        margin-bottom: 30px;
    }
  }